#start{
    background-color: #526D82;
    font-family: 'Libre Baskerville', serif;
  
}
#experienta{
    background-color: #9DB2BF;
    font-family: 'Kanit', sans-serif;
}
#calitati{
    background-color: #9DB2BF;
    font-family: 'Kanit', sans-serif;
    
}
#studii{
    background-color: #9DB2BF;
    font-family: 'Kanit', sans-serif;
}
#contactme{
    background-color: #526D82;
    font-family: 'Libre Baskerville', serif;
}

